@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, ul, li,
input, textarea, button {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

button {
  cursor: pointer;
  background-color: transparent;
}

img,
picture {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a, img, picture {
  flex-shrink: 0;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  --c-blue: #1B223B;
  --c-light-bg: #F4F5F5;
  --c-green-main: #82BB3A;
  --c-green-dark: #3B8149;
  --c-orange: #E6880F;
  --c-light-blue: #BBC1C5;
  --c-light-blue2: #DFE4E8;
  --trans: all 0.2s ease;
}

body {
  font: 500 16px "Raleway", "Arial", sans-serif;
  color: var(--c-blue);
  font-feature-settings: "lnum";
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

h1 {
  font-weight: 300;
  color: var(--c-blue);
}

ul {
  list-style: none;
}

a {
  transition: var(--trans);
  color: var(--c-blue);
}
a:active {
  color: var(--c-blue);
}

.svg {
  fill: var(--c-blue);
  width: 100%;
  height: 100%;
  transition: var(--trans);
}

.svg path {
  fill: inherit;
}

span, button {
  flex-shrink: 0;
}

h2 {
  font-weight: 300;
  font-size: 48px;
}

.btn {
  display: block;
  border: 1px solid rgba(130, 187, 58, 0.3);
  background-color: #fff;
  border-radius: 136px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--c-green-main);
  transition: var(--trans);
  padding: 15px 32px;
}
.btn:hover {
  border-color: transparent;
  background-color: var(--c-green-main);
  color: #fff;
}

.btn_fill {
  border-color: transparent;
  background-color: var(--c-green-main);
  color: #fff;
}
.btn_fill:hover {
  border-color: rgba(130, 187, 58, 0.3);
  background-color: #fff;
  color: var(--c-green-main);
}

.input-b {
  padding: 32px;
  padding-bottom: 36px;
}

.input-b__title {
  font-size: 14px;
  color: #9DA7AF;
  margin-bottom: 15px;
}

.input-b__input {
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 600px) {
  .input-b {
    padding: 24px;
  }
}
.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.select__title {
  font-size: 16px;
}

.select__arrow {
  width: 16px;
  height: 16px;
}

.block-text-arrow {
  cursor: pointer;
}

.block-text-arrow__title {
  font-size: 14px;
  color: var(--c-blue);
}

.block-text-arrow {
  margin-left: 5px;
}

.block-text-arrow__arrow .svg {
  width: 9px;
  height: 9px;
}

.block-button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--c-light-bg);
}

.block-button-circle__icon {
  width: 24px;
  height: 24px;
}

.block-button-circle_with-count {
  position: relative;
}

.block-button-circle__count {
  position: absolute;
  right: 0;
  top: -5px;
  height: 16px;
  min-width: 16px;
  border-radius: 26px;
  background-color: var(--c-green-main);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  padding: 0 4px;
}

.block-button-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.block-button-links__link {
  margin-bottom: 8px;
}

.block-button-links__link:not(:last-child) {
  margin-right: 8px;
}

.block-products__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.block-products__title {
  font-weight: 400;
  font-size: 24px;
}

.block-products__link a {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: var(--c-green-main);
}
.block-products__link a:hover {
  color: var(--c-blue);
}

.block-products__header_big .block-products__title span {
  color: #C4CDD4;
}

.block-products__wrapp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  overflow-x: scroll;
}

@media screen and (max-width: 800px) {
  .block-products__header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .block-products__link {
    margin-top: 20px;
  }
}
.product-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 20px;
  min-width: 250px;
}

.product-card__link:hover .product-card__thumb img {
  transform: scale(1.05);
}
.product-card__link:hover .product-card__title {
  color: var(--c-green-main);
}

.product-card__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  height: 290px;
  overflow: hidden;
}
.product-card__thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--trans);
}

.product-card__top,
.product-card__sale {
  position: absolute;
}

.product-card__top {
  display: flex;
  align-items: center;
  left: 16px;
  bottom: 16px;
  border-radius: 8px;
  background-color: var(--c-orange);
  padding: 4px;
  padding-right: 8px;
}
.product-card__top span {
  position: relative;
  top: -1px;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.product-card__top .svg {
  fill: #fff;
}
.product-card__top p {
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #fff;
}

.product-card__sale {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 16px;
  top: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FCCB8C;
  padding: 1px;
}
.product-card__sale span {
  text-align: center;
  font-size: 14px;
  color: #784411;
}

.product-card__info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.product-card__price {
  font-size: 24px;
}
.product-card__price span:not(:last-child) {
  margin-right: 9px;
}

.product-card__old {
  font-weight: 600;
  font-size: 14px;
  color: var(--c-green-main);
  text-decoration: line-through;
}

.product-card__min {
  font-size: 14px;
  color: var(--c-light-blue);
}

.product-card__pcs {
  color: var(--c-blue);
  margin-left: 4px;
}

.product-card__title {
  line-height: 1.7em;
  transition: var(--trans);
  margin-top: 10px;
}

.product-card__stats {
  margin-top: 15px;
}

.product-card__buttons {
  display: flex;
  align-items: center;
}

.product-card__buy {
  display: flex;
  align-items: center;
}
.product-card__buy p {
  position: relative;
  top: 1px;
  letter-spacing: 0.04em;
}
.product-card__buy span {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.product-card__buy span .svg {
  fill: var(--c-green-main);
}
.product-card__buy:hover .svg {
  fill: #fff;
}

.product-card__favorite span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: var(--trans);
  margin-left: 8px;
}
.product-card__favorite span .svg {
  width: 24px;
  height: 24px;
  fill: var(--c-green-main);
}
.product-card__favorite:hover {
  opacity: 0.7;
}

.stat {
  display: inline-block;
  font-size: 14px;
  color: var(--c-light-blue);
  border: 1px solid var(--c-light-blue2);
  border-radius: 112px;
  padding: 8px 13px;
  margin-bottom: 5px;
}
.stat span {
  color: var(--c-blue);
}
.stat:not(:last-child) {
  margin-right: 8px;
}

.calc-main__volume {
  background: var(--c-light-bg);
  border-radius: 12px;
  padding: 70px 180px 96px;
  margin-bottom: 20px;
}

.calc-main__title {
  text-align: center;
  margin-bottom: 29px;
}

.calc-main__text {
  max-width: 830px;
  font-size: 400px;
  font-size: 24px;
  text-align: center;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 46px;
}

.calc-main__formula {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-main__input {
  max-width: 232px;
  border: 1px solid var(--c-light-blue2);
  border-radius: 12px;
  flex-shrink: 0;
  padding: 19px 24px;
}
.calc-main__input .input-b__title {
  margin-bottom: 5px;
}
.calc-main__input .input-b__input {
  font-size: 32px;
}

.calc-main__plus,
.calc-main__equally {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 16px;
}
.calc-main__plus .svg,
.calc-main__equally .svg {
  width: 16px;
  height: 16px;
}

.calc-main__plus {
  background-color: #fff;
}

.calc-main__equally {
  background-color: var(--c-green-main);
}
.calc-main__equally .svg {
  fill: #fff;
}

.calc-main__filter {
  display: grid;
  grid-template-columns: 1.2fr 1.4fr 0.8fr 0.8fr 1fr;
  align-items: center;
  background-color: var(--c-light-bg);
  border-radius: 12px;
}

.calc-main__item {
  height: 100%;
  display: flex;
  align-items: center;
}
.calc-main__item:first-child p {
  font-size: 20px;
  line-height: 1.5em;
  padding: 32px 32px 36px 36px;
}
.calc-main__item:not(:last-child) {
  border-right: 1px solid var(--c-light-blue2);
}
.calc-main__item:last-child {
  padding: 32px;
  padding-bottom: 36px;
}
.calc-main__item .input-b {
  width: 100%;
}

.calc-main__ammount {
  display: flex;
  align-items: center;
}
.calc-main__ammount .calc-main__minus,
.calc-main__ammount .calc-main__plus {
  width: 16px;
  height: 16px;
}
.calc-main__ammount .calc-main__plus {
  background-color: transparent;
  margin: 0;
}

.calc-main__number {
  text-align: center;
  max-width: 40px;
  margin: 0 24px;
}

.calc-main__button {
  margin: auto;
}
.calc-main__button:hover {
  background-color: transparent;
}

@media screen and (max-width: 1100px) {
  .calc-main__filter {
    grid-template-columns: 1.1fr 1.3fr 0.8fr 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .calc-main__formula {
    flex-direction: column;
  }
  .calc-main__formula .calc-main__plus,
.calc-main__formula .calc-main__equally {
    margin: 16px 0;
  }

  .calc-main__input {
    max-width: unset;
    width: 100%;
  }

  .calc-main__filter {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .calc-main__item:first-child, .calc-main__item:last-child {
    grid-column: span 3;
  }
  .calc-main__item:first-child, .calc-main__item:nth-last-child(2) {
    border: none;
  }
}
@media screen and (max-width: 700px) {
  .calc-main__text {
    font-size: 18px;
  }

  .calc-main__volume {
    padding: 60px 50px;
  }
}
@media screen and (max-width: 600px) {
  .calc-main__title {
    margin-bottom: 20px;
  }

  .calc-main__text {
    font-size: 14px;
  }

  .calc-main__input .input-b__input {
    font-size: 22px;
  }

  .calc-main__filter {
    grid-template-columns: 1fr;
  }

  .calc-main__item {
    border: none;
  }
  .calc-main__item:nth-child(n) {
    grid-column: unset;
  }

  .calc-main__item:first-child p {
    padding: 24px;
  }
}
.sorts__title {
  margin-bottom: 48px;
}

.sorts__sorts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sorts__btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 15px;
}

.sorts__btn {
  display: flex;
  align-items: center;
  border: 1px solid var(--c-light-blue2);
  border-radius: 120px;
  padding: 16px;
  padding-right: 24px;
  margin-bottom: 16px;
}
.sorts__btn:not(:last-child) {
  margin-right: 20px;
}
.sorts__btn:hover {
  border-color: var(--c-green-dark);
}

.sorts__btn-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  margin-right: 16px;
}

.sorts__btn-title {
  font-weight: 400;
  font-size: 24px;
}

.sorts__add {
  font-size: 18px;
  max-width: 290px;
}

.sorts__add-text {
  margin-bottom: 15px;
}

.sorts__link {
  text-decoration: underline;
  line-height: 1.5em;
}
.sorts__link:hover {
  text-decoration: none;
}

.sorts__about {
  display: flex;
  min-height: 384px;
  background-image: url(../img/blocks/sorts/pack.png), url(../img/blocks/sorts/sorts_decor.svg);
  background-position: 132% 34%, 250% center;
  background-repeat: no-repeat;
  background-size: unset;
  background-color: var(--c-green-main);
  color: #fff;
  border-radius: 12px;
}

.sorts__main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 492px;
  border-right: 1px solid #77AB35;
  padding: 48px 37px 60px 56px;
}

.sorts__subtitle {
  font-weight: 400;
  font-size: 32px;
  padding-bottom: 30px;
}

.sorts__button {
  background-color: var(--c-green-dark);
}

.sorts__add-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 48px 40px 60px;
}

.sorts__article {
  max-width: 300px;
  font-size: 18px;
  line-height: 1.5em;
  padding-bottom: 30px;
}

.sorts__author {
  display: flex;
  align-items: center;
}

.sorts__photo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.sorts__photo {
  margin-right: 14px;
}

.sorts__name {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
}

.sorts__post {
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .sorts__about {
    flex-direction: column;
    background-position: 50vw 34%, 60vw center;
  }

  .sorts__main-info {
    max-width: 60%;
    border-right: none;
    padding-left: 40px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .sorts__sorts {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sorts__btn {
    padding: 12px;
    padding-right: 18px;
    margin-bottom: 12px;
  }

  .sorts__btn-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .sorts__btn-title {
    font-size: 18px;
  }

  .sorts__add {
    max-width: unset;
    margin-top: 20px;
  }

  .sorts__about {
    background-image: none;
  }

  .sorts__main-info {
    max-width: 100%;
  }

  .sorts__subtitle {
    font-size: 24px;
  }

  .sorts__article {
    font-size: 16px;
  }
}
.header-top {
  background-color: var(--c-light-bg);
  padding: 10px 0;
}

.header-top__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__contacts {
  display: flex;
  align-items: center;
}

.header-top__link {
  font-size: 14px;
  color: var(--c-blue);
}

.header-top__link:not(:last-child) {
  margin-right: 19px;
}

.header-main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.header-main__flex {
  display: flex;
  align-items: center;
}

.header-main__logo {
  margin-right: 80px;
}

.header-main__menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-main__menu .header-main__menu-item:not(:last-child) {
  margin-right: 16px;
}
.header-main__menu .block-text-arrow__title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
.header-main__menu .header-main__menu-item_has-child {
  position: relative;
}
.header-main__menu .header-main__menu-child {
  display: block;
  position: absolute;
  top: 100%;
  left: -32px;
  min-width: 280px;
  border-radius: 12px;
  background-color: var(--c-light-bg);
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  transition: var(--trans);
}
.header-main__menu .header-main__menu-child li {
  display: block;
}
.header-main__menu .header-main__menu-child li a {
  display: block;
  color: var(--c-blue);
  padding: 16px 0 16px 32px;
}
.header-main__menu .header-main__menu-child li a:hover {
  background-color: var(--c-green-main);
  color: #fff;
}
.header-main__menu .header-main__menu-item_has-child:hover .header-main__menu-child {
  opacity: 1;
  z-index: 1;
}

.header-main__interface {
  display: flex;
  align-items: center;
}
.header-main__interface > *:not(:last-child) {
  margin-right: 16px;
}

.block-button-circle_menu-open {
  display: none;
}

.header-main__mobile {
  display: none;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: -10px 0 20px rgba(140, 140, 140, 0.1);
  transition: all 0.5s ease;
  z-index: 200;
  padding: 60px 20px 50px;
}
.header-main__mobile .header-main__menu ul {
  display: block;
  text-align: right;
}
.header-main__mobile .header-main__menu .header-main__menu-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 30px;
}
.header-main__mobile .header-main__menu .header-main__menu-child {
  position: static;
  display: block;
  opacity: 1;
  background-color: unset;
  min-width: auto;
  max-width: 200px;
  overflow: auto;
  margin-bottom: 30px;
}
.header-main__mobile .header-main__menu .header-main__menu-child li a {
  font-size: 16px;
  padding: 5px 0;
}
.header-main__mobile .header-main__menu .header-main__menu-child li a:hover {
  background-color: unset;
  color: var(--c-blue);
}
.header-main__mobile .header-main__menu .block-text-arrow__title {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
.header-main__mobile .header-main__menu .block-text-arrow__arrow {
  display: none;
}
.header-main__mobile .header-main__interface {
  justify-content: flex-end;
}

.header-main__mobile.active {
  right: 0;
}

@media screen and (max-width: 730px) {
  .header-main__logo {
    width: 100px;
  }

  .header-main__menu:not(.header-main__menu_mobile) {
    display: none;
  }

  .header-main__mobile {
    display: block;
  }

  .block-button-circle.mobile-hide {
    display: none;
  }

  .block-button-circle_menu-open {
    display: flex;
  }
}
@media screen and (max-width: 400px) {
  .header-top__link_email {
    display: none;
  }
}
section {
  padding: 40px 0;
}

.home-main {
  padding-top: 100px;
}

.home-main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-main__offer {
  max-width: 570px;
}

.home-main__title {
  font-size: 56px;
  margin: 15px 0 25px;
}

.home-main__add {
  display: flex;
  align-items: center;
}

.home-main__sale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258px;
  height: 258px;
  border-radius: 50%;
  background: url(../img/home/sale_bg.jpg) no-repeat center/cover;
  margin-right: 20px;
}

.home-main__contacts {
  width: 258px;
  height: 258px;
  border-radius: 12px;
  background-image: url(../img/home/decor_up_right.svg);
  background-position: right top;
  background-repeat: no-repeat;
  background-color: var(--c-green-main);
  padding: 27px 22px 32px;
}
.home-main__contacts p {
  max-width: 140px;
  font-weight: 500;
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 15px;
}

.home-main__contacts-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.home-main__contacts-link {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 92px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: var(--trans);
  padding: 5px 10px;
  margin-bottom: 8px;
}
.home-main__contacts-link .svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}
.home-main__contacts-link span {
  letter-spacing: 0.02em;
  margin-left: 4px;
}

.home-main__contacts-link:not(:last-child) {
  margin-right: 8px;
}

.home-main__contacts-link_without-text {
  padding: 5px;
}

.home-main__contacts-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.home-main__contacts-button {
  width: 100%;
  background-color: var(--c-green-dark);
}

.home-main__contacts-button:hover {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.home-banners__wrapp {
  display: flex;
  min-height: 430px;
  border-radius: 12px;
  overflow: hidden;
  background-image: url(../img/home/decor_down_left.svg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: var(--c-green-main);
}

.home-banners__content {
  max-width: 360px;
  padding: 53px 15px 40px 56px;
}

.home-banners__info {
  margin-bottom: 40px;
}

.home-banners__title {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 18px;
}

.home-banners__text {
  font-weight: 500;
  line-height: 1.5em;
  color: #fff;
}

.home-banners__arrows {
  display: flex;
  align-items: center;
}

.home-banners__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: var(--trans);
  cursor: pointer;
}
.home-banners__arrow .svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.home-banners__arrow:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.home-banners__arrow_left {
  margin-right: 8px;
}

.home-banners__arrow_right {
  transform: rotate(180deg);
}

.home-banners__bg {
  position: relative;
  flex-grow: 2;
  overflow: hidden;
  -webkit-mask-image: url(../img/home/decor_mask.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top left;
  -webkit-mask-size: cover;
  mask-image: url(../img/home/decor_mask.svg);
  mask-repeat: no-repeat;
  mask-position: top left;
  mask-size: cover;
}

.home-banners__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 990px) {
  .header-main__logo {
    margin-right: 40px;
  }

  .home-main__content {
    flex-wrap: wrap;
  }

  .home-main__offer {
    max-width: unset;
    margin-bottom: 30px;
  }

  .home-main__add {
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  .home-banners__wrapp {
    flex-direction: column;
    align-items: flex-end;
  }

  .home-banners__content {
    order: 1;
  }

  .home-banners__bg {
    -webkit-mask-image: unset;
    -webkit-mask-repeat: unset;
    -webkit-mask-position: unset;
    -webkit-mask-size: unset;
    mask-image: unset;
    mask-repeat: unset;
    mask-position: unset;
    mask-size: unset;
    width: 100%;
  }

  .home-banners__img {
    min-height: 250px;
  }

  .home-banners__info {
    text-align: right;
  }

  .home-banners__arrows {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 36px;
  }

  .home-main {
    padding-top: 60px;
  }

  .home-main__offer img {
    width: 150px;
  }

  .home-main__add {
    flex-direction: column;
  }

  .home-main__sale {
    margin-right: 0;
    margin-bottom: 30px;
  }
}